<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Myges{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="/style.css">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">{{ 'nav.home'|trans }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/matieres">{{ 'nav.matiere'|trans }}</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      {% for label, messages in app.flashes %}
          {% for message in messages %}
              <div class="alert alert-{{ label }}">
                  {{ message }}
              </div>
          {% endfor %}
      {% endfor %}
      <section class="container">


      {% block body %}{% endblock %}
    </section>
      {% block javascripts %}{% endblock %}
    </body>
</html>
